name: prolog / main

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup swi-prolog
        uses: logtalk-actions/setup-swi-prolog@bf7d8c39fb30a188646579176d805496421c4ee5
        with:
          swi-prolog-branch: stable
          swi-prolog-version: latest

      - name: Install packages
        run: swipl pack install date_time -y

      - name: Verify all exercises
        run: bin/verify-exercises

      - name: Verify test files
        run: bin/verify-test-files
