name: prolog / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        prolog-branch: [stable, devel]
        prolog-version: [latest]

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Use swi-prolog ${{ matrix.prolog-branch }}-${{ matrix.prolog-version }}
        uses: logtalk-actions/setup-swi-prolog@bf7d8c39fb30a188646579176d805496421c4ee5
        with:
          swi-prolog-branch: ${{ matrix.prolog-branch }}
          swi-prolog-version: ${{ matrix.prolog-version }}

      - name: Run exercism/prolog ci (runs tests) for all exercises
        run: bin/build.sh
